.gz-footer {
    background-color: $text_ciemny;
    color: $white;
    padding-top: 40px;
    padding-bottom: 40px;
    h2 {
        font-size: 30px;
        font-weight: 600;
    }
    h3 {
        font-size: 16px;
        font-weight: 500;
    }
    h5 {
        margin-bottom: 10px;
    }
    h6 {
        margin-top: 10px;
        font-size: 15px;
        font-weight: 600;
    }
    p {
        margin-bottom: 4px!important;
        color: #C9C9C9;
        font-size: 13px;
        font-weight: 400;
    }
    a {
        color: $akcent2;
        font-size: 13px;
        font-weight: 400;
        text-decoration: none;
    }
    a::before {
        content: 'e-mail: ';
        color: #C9C9C9;
        font-size: 13px;
        font-weight: 400;
    }
    a:hover {
        text-decoration: underline;
    }
}