.gz-footer {
    background-color: $Text-Ciemny-1!important;
    color: $White;
    padding-top: 40px;
    padding-bottom: 40px;
    h2 {
        font-size: 30px;
        font-weight: 600;
        padding-top: 10px;
    }
    h3 {
        font-size: 16px;
        font-weight: 500;
    }
    h5 {
        margin-bottom: 10px;
    }
    h6 {
        margin-top: 10px;
        font-size: 15px;
        font-weight: 600;
    }
    p {
        margin-bottom: 4px!important;
        color: #C9C9C9;
        font-size: 13px;
        font-weight: 400;
        padding-top: 5px;
    }
    a {
        color: $Akcent-3;
        font-size: 13px;
        font-weight: 400;
        text-decoration: none;
    }
    a:not(.notBefore)::before {
        content: 'e-mail: ';
        color: #C9C9C9;
        font-size: 13px;
        font-weight: 400;
    }
    a:hover {
        text-decoration: underline;
    }
    @media (max-width: 991px) {
        .gz-footer-c {
            padding-top: 30px;
        }
        .gz-footer-d {
            text-align: center;
        }
    }
    @media (max-width: 576px) {
        .gz-footer-b, .gz-footer-c, .gz-footer-d {
            padding-top: 30px;
        }
    }
}
.gz-footer-copyright {
    background-color: #03242F;
    color: $White;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 10px;
}