.gz-kurier div {
    float: left;
}
.gz-kurier img {
    border-radius: 8px;
    max-height: 360px;
    max-width: 251px;
}
.gz-kurier .gz-kurier-item a {
    
}
.gz-kurier .gz-kurier-item a::after {
    content: '';
}