$white: #fff;
$black: #000;

$light: #F5F5F5;
$body_color: #5A5B69;

$szare_tlo: #F2F2F2;


$text_ciemny: #003344;
$szary_text: #72758F;
$szary_text2: #5A5B69;

$akcent1: #247A24;
$akcent2: #FFD800;
$akcent3: #BC3232;
$akcent4: #2582D8;

$ramka-szara: #E0E0E0;


$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

$font-family: 'Poppins', sans-serif;

body, html {
    overflow-x: hidden;
}

body {
    font-family: $font-family;
    color: $text_ciemny;
    
}


.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

/* Marginesy */
.gz-margin-karuzela {
    padding-right: 23px!important;
    padding-left: 23px!important;
 }

/* Przyciski */
.btn-primary {
    background-color: $text_ciemny;
    border-radius: 8px;
    border: 0px;
    font-size: 16px;
    font-weight: 600;
    padding: 14px 37px;
    transition: 0.2s;
    transition-timing-function: ease-out;
}
.btn-primary:hover {
    background-color: #FFD800;
    color: $text_ciemny;
}
.btn-primary:active {
    background-color: #FFD800!important;
    color: $text_ciemny!important;  
}

.btn-outline-primary {
    border: 2px solid $text_ciemny;
    color: $text_ciemny;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 25px;
}
.btn-outline-primary:hover {
    background-color: $text_ciemny;
    border: 2px solid $text_ciemny;
 }

.btn-outline-primary:active {
    background-color: $text_ciemny!important;
    border: 2px solid $text_ciemny!important;
}
/* Okruszki */
.gz-breadcrumb {
    color: $text_ciemny;
    font-size: 14px;
    font-weight: 500;
    padding-top: 25px;
    padding-bottom: 30px;
    li a {
      color: $text_ciemny;
    }
  }
  .gz-breadcrumb li {
    color: $text_ciemny;
  }
  .gz-breadcrumb li::after {
    content: '»'; 
    padding-left: 5px;
    padding-right: 5px;
  }
  .gz-breadcrumb li:last-child::after  {
    content: ''; 
  }
  .gz-breadcrumb li:last-child {
    color: $akcent1;
  }
  /* Okruszki End*/
  
  @media (max-width: 991px) {
    .gz-nawigacja-boczna {
      display: none;
    }
  }
  @media (max-width: 991px) {
    .gz-section h1, h2, h3, h4, h5, p {
      text-align: center;
    }
  }
  /* Menu boczne */
  .gz-nawigacja-boczna button {
    background-color: $text_ciemny;
    width: 100%;
    color: $white;
    font-size: 16px;
    font-weight: 400;
    height: 50px;
    text-align: left;
    position: relative;
    padding-left: 30px;
    border: 0;
    margin-bottom: 2px;
    transition: 0.2s;
    transition-timing-function: ease-in;
  }
  .gz-nawigacja-boczna button:hover {
    background-color: $akcent1;
  }
  .gz-nawigacja-boczna button::before {
    content: '';
    display: block;
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    width: 9px; 
    height: 6px; 
    background-image: url('../images/ico/ico-11.svg');
  }
  .gz-nawigacja-boczna:first-child > button {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  .gz-nawigacja-boczna:last-child > button {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .gz-nawigacja-boczna:not(:first-child):not(:last-child) > button {
    border-radius: 0;
  }
  .gz-nawigacja-boczna li {
    color: $text_ciemny;
    font-size: 15px;
    font-weight: 400;
    padding: 10px 30px;
    transition: 0.2s;
    transition-timing-function: ease-in;
    line-height: 18px;
    cursor: pointer;
  }
  .gz-nawigacja-boczna li:hover {
    font-weight: 600;
  }
  .gz-nawigacja-boczna li:first-child {
  margin-top: 10px;
  }
  .gz-nawigacja-boczna li:last-child {
    margin-bottom: 10px;
  }
  .gz-nawigacja-boczna:last-child li:last-child {
    border-bottom: 2px solid $text_ciemny;
    padding-bottom: 25px;
  }  
  /* Menu boczne END*/
  h1 {
    font-size: 45px;
    font-weight: 600;
    padding-bottom: 15px;
  }
  h2  {
    font-size: 35px;
    font-weight: 600;
    padding-bottom: 15px;
  }
  h3 {
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 15px;
      
  }
  h4 {
    font-size: 22px;
    font-weight: 500;
    padding-bottom: 15px;
      
  }
  h5 {
    font-size: 17px;
    font-weight: 500;
    padding-bottom: 15px;
  }
  p {
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
  }
  figure {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  figcaption {
    color: $szary_text;
    font-size: 12px;
    font-weight: 500;
    padding: 5px 10px;
  }
  ul {
    padding-left: 20px;
    margin-bottom: 30px;
  }
  li::marker  {
    color: $akcent1;
    font-size: 20px;
  }
  
  /* Tabelka */
  table {
    width: 100%;
    background-color: $white;
    border: 1px solid $text_ciemny;
    margin-bottom: 40px;
  }
  table th {
    padding: 12px 10px;
    color: $white;
    background-color: $text_ciemny;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
  }
  table td {
    padding: 12px 10px;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
  }
  tr:nth-child(even) {
    background-color: $light;
  }
  /* Tabelka */
  .gz-download a {
    color: $text_ciemny;
    font-size: 14px;
    font-weight: 500;
    text-decoration: underline!important;
    padding-left: 40px;
  }
  
  .gz-download a:hover {
    color: $akcent1;
  }
  .gz-download li {
    margin-bottom: 20px;
  }
  .gz-pdf::before  {
    content: '';
    display: block;
    position: absolute;
    margin-top: -3px;
    width: 26px; 
    height: 30px;
    margin-right: 10px; 
    background-image: url('../images/ico/ico-12.svg');
  }
  .gz-xls::before  {
    content: '';
    display: block;
    position: absolute;
    margin-top: -3px;
    width: 26px; 
    height: 30px;
    margin-right: 10px; 
    background-image: url('../images/ico/ico-13.svg');
  }
  .gz-ppt::before  {
    content: '';
    display: block;
    position: absolute;
    margin-top: -3px;
    width: 26px; 
    height: 30px;
    margin-right: 10px; 
    background-image: url('../images/ico/ico-14.svg');
  }
  .gz-doc::before  {
    content: '';
    display: block;
    position: absolute;
    margin-top: -3px;
    width: 26px; 
    height: 30px;
    margin-right: 10px; 
    background-image: url('../images/ico/ico-15.svg');
  }




/* Strszalki karuzeli */
.carousel-control-prev {
    left: -50px;
    width: 40px;
}
.carousel-control-prev-icon {
    background-image: url('../images/ico/ico-04.svg');
    filter: none!important;
}
.carousel-control-next {
    right: -50px;
    width: 40px;
}
.carousel-control-next-icon {
    background-image: url('../images/ico/ico-05.svg');
    filter: none!important;
}

.gz-section {
    a {
        text-decoration: none;
    }
    .gz-title{
        h5 {
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        color: $szary_text;
        }
    }
    .gz-bg-1 {
        background: $szare_tlo;
    }
}