@charset "UTF-8";
body, html {
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  color: #003344;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
}

/* Link w tekscie */
.gz-text-link, .gz-opisowa .gz-content a:not(.not-text-link) {
  color: #1A671A;
  -webkit-text-decoration: underline 2px dotted #1A671A !important;
          text-decoration: underline 2px dotted #1A671A !important;
  font-weight: 500;
}

.gz-text-link::after, .gz-opisowa .gz-content a:not(.not-text-link)::after {
  content: " »";
}

.gz-text-link:hover, .gz-opisowa .gz-content a:hover {
  color: #105A9E;
  -webkit-text-decoration: underline 2px solid #105A9E !important;
          text-decoration: underline 2px solid #105A9E !important;
  font-weight: 500;
}

.gz-opisowa .gz-content .btn {
  background-color: #003344;
  color: #fff;
  width: 100%;
  padding: 7px 10px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 600;
  transition: 0.2s;
  transition-timing-function: ease-in;
}

@media (max-width: 991px) {
  .gz-opisowa .gz-content .btn {
    text-align: center;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 20px;
  }
  .gz-top {
    text-align: center;
  }
}
.gz-opisowa .gz-content .btn:hover {
  background-color: #1A671A;
  color: #fff;
}

/* Zmiana treści RWD */
#gz-span-text-change::before {
  content: attr(data-md-text);
}

@media (max-width: 1199px) {
  #gz-span-text-change::before {
    content: attr(data-md-text);
  }
}
@media (max-width: 767px) {
  #gz-span-text-change::before {
    content: attr(data-xs-text);
  }
}
/* Zmiana treści RWD END */
.gz-section {
  padding-bottom: 20px;
}

.gz-page-title h1 {
  color: #003344;
  font-size: 45px;
  font-weight: 600;
  padding-bottom: 0;
}
.gz-page-title h5 {
  color: #525469;
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 15px;
}
.gz-page-title .gz-breadcrumb {
  padding-bottom: 15px;
}

/* Marginesy */
.gz-margin-karuzela {
  padding-right: 23px !important;
  padding-left: 23px !important;
}

/* Przyciski */
.btn-primary {
  background-color: #003344;
  border-radius: 8px;
  border: 0px;
  font-size: 16px;
  font-weight: 600;
  padding: 14px 37px;
  transition: 0.2s;
  transition-timing-function: ease-out;
}

.btn-primary:hover {
  background-color: #FFD800;
  color: #003344;
}

.btn-primary:active {
  background-color: #FFD800 !important;
  color: #003344 !important;
}

.btn-outline-primary {
  border: 2px solid #003344;
  color: #003344;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 25px;
}

.btn-outline-primary:hover {
  background-color: #003344;
  border: 2px solid #003344;
}

.btn-outline-primary:active {
  background-color: #003344 !important;
  border: 2px solid #003344 !important;
}

/* Okruszki */
.gz-breadcrumb {
  color: #003344;
  font-size: 14px;
  font-weight: 500;
  padding-top: 25px;
  padding-bottom: 30px;
}
.gz-breadcrumb li a {
  color: #003344;
}

.gz-breadcrumb li {
  color: #003344;
}

.gz-breadcrumb li::after {
  content: "»";
  padding-left: 5px;
  padding-right: 5px;
}

.gz-breadcrumb li:last-child::after {
  content: "";
}

.gz-breadcrumb li:last-child {
  color: #1A671A;
}

/* Okruszki End*/
@media (max-width: 991px) {
  .gz-section h1, h2, h3, h4, h5, p {
    text-align: center;
  }
}
.gz-opisowa h1 {
  font-size: 45px;
  font-weight: 600;
  padding-bottom: 15px;
}
.gz-opisowa h2 {
  font-size: 35px;
  font-weight: 600;
  padding-bottom: 15px;
}
.gz-opisowa h3 {
  font-size: 28px;
  font-weight: 600;
  padding-bottom: 15px;
}
.gz-opisowa h4 {
  font-size: 22px;
  font-weight: 500;
  padding-bottom: 15px;
}
.gz-opisowa h5 {
  font-size: 17px;
  font-weight: 500;
  padding-bottom: 15px;
}
.gz-opisowa p {
  font-size: 17px;
  font-weight: 400;
  line-height: 28px;
}
.gz-opisowa figure {
  margin-top: 20px;
  margin-bottom: 20px;
}
.gz-opisowa figcaption {
  color: #525469;
  font-size: 12px;
  font-weight: 500;
  padding: 5px 10px;
}
.gz-opisowa .gz-content ul {
  padding-left: 20px;
  margin-bottom: 30px;
}
.gz-opisowa li::marker {
  color: #1A671A;
  font-size: 20px;
}

/* Tabelka */
table {
  width: 100%;
  background-color: #fff;
  border: 1px solid #003344;
  margin-bottom: 40px;
}

table th {
  padding: 12px 10px;
  color: #fff;
  background-color: #003344;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
}

table td {
  padding: 12px 10px;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
}

tr:nth-child(even) {
  background-color: #F9F9F9;
}

/* Tabelka */
.gz-download a {
  color: #003344;
  font-size: 14px;
  font-weight: 500;
  text-decoration: underline !important;
  position: relative;
}

.gz-download a:hover {
  color: #1A671A !important;
}

.gz-download li {
  margin-bottom: 20px;
  padding-left: 40px;
}

.gz-download span {
  font-size: 12px;
  color: #1A671A;
  font-weight: 500;
}

.gz-download span::before {
  content: "•";
  font-size: 14px;
  margin-left: 8px;
  margin-right: 8px;
}

.gz-download p {
  font-size: 10px;
  color: #525469;
  font-weight: 500;
  line-height: 14px;
  margin-top: 5px;
  text-align: left;
}

.gz-pdf::before {
  content: "";
  position: absolute;
  left: -40px;
  width: 26px;
  height: 30px;
  background-image: url("../images/ico/ico-12.svg");
}

.gz-xls::before, .gz-xlsx::before, .gz-xlsm::before {
  content: "";
  position: absolute;
  left: -40px;
  width: 26px;
  height: 30px;
  background-image: url("../images/ico/ico-13.svg");
}

.gz-ppt::before, .gz-pptx::before {
  content: "";
  position: absolute;
  left: -40px;
  width: 26px;
  height: 30px;
  background-image: url("../images/ico/ico-14.svg");
}

.gz-doc::before, .gz-docx::before {
  content: "";
  position: absolute;
  left: -40px;
  width: 26px;
  height: 30px;
  background-image: url("../images/ico/ico-15.svg");
}

/* Strszalki karuzeli */
.carousel-control-next-icon, .carousel-control-prev-icon, .carousel-control-slider-next-icon, .carousel-control-slider-prev-icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
}

.carousel-control-prev {
  left: -50px;
  width: 40px;
}

.carousel-control-prev-icon {
  background-image: url("../images/ico/ico-30.svg");
  filter: none !important;
  opacity: 1;
}

.carousel-control-next {
  right: -50px;
  width: 40px;
}

.carousel-control-next-icon {
  background-image: url("../images/ico/ico-31.svg");
  filter: none !important;
  opacity: 1;
}

.gz-section a {
  text-decoration: none;
}
.gz-section .gz-title h5 {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #525469;
}
.gz-section .gz-bg-1 {
  background: #F9F9F9;
}

.carousel-control-slider-prev-icon {
  background-image: url("../images/ico/ico-04.svg");
  filter: none !important;
}

.carousel-control-slider-next-icon {
  background-image: url("../images/ico/ico-05.svg");
  filter: none !important;
  background-blend-mode: hard-light;
}

/* -=== Paginacja ===- */
.gz-pagination {
  margin-top: 15px;
}
.gz-pagination a {
  color: #003344;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 47px;
}
.gz-pagination li {
  margin: 5px;
}
.gz-pagination li a {
  border: 0;
  border-radius: 0 !important;
}
.gz-pagination .gz-item a {
  background-color: #FBFBFB;
  border: 1px solid #F1F1F4;
  min-width: 47px;
  padding: 5px 10px;
}
.gz-pagination .gz-item a:hover {
  background-color: #FFD800;
  border: 1px solid #FFD800;
  color: #003344;
}
.gz-pagination .active a {
  background-color: #003344;
  border: 1px solid #003344;
  color: #fff;
  min-width: 47px;
  padding: 5px 10px;
}
.gz-pagination .nav-arrow a {
  background-color: #fff;
}
.gz-pagination .nav-arrow a:hover {
  color: #003344;
  text-decoration: underline !important;
}
.gz-pagination .disabled a {
  opacity: 0.5;
}

/* -=== Paginacja END ===- */
/* -=== Sorter ===- */
.gz-sorter {
  margin-bottom: 25px;
}
.gz-sorter .btn {
  padding: 8px 20px;
  font-size: 14px;
  font-weight: 600;
  border: 1px solid #003344;
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 10px;
}
.gz-sorter .btn-outline-primary:active {
  border: 1px solid #003344 !important;
}
.gz-sorter .btn-primary:hover {
  border: 1px solid #FFD800;
}

/* -=== Ułatwienia ===- */
.ulatwienie {
  z-index: 100;
  display: flex;
  position: absolute;
  left: -190px;
  top: 350px;
  color: #fff;
  transition: all 0.5s ease-out;
}
.ulatwienie .button-main {
  background-color: #003344;
  width: 70px;
  height: 95px;
  padding: 5px;
  text-align: center;
  border-radius: 0px 7px 7px 0px;
}
.ulatwienie .button-main p {
  font-size: 11px;
  font-weight: 600;
  line-height: 13px;
  padding-top: 7px;
}
.ulatwienie .ico {
  background-color: #fff;
  height: 50px;
  border-radius: 5px;
}
.ulatwienie .ico img {
  margin-top: 12px;
}
.ulatwienie .content {
  width: 190px;
  background-color: #003344;
  padding: 5px;
  border-radius: 0px 0px 0px 5px;
  margin-left: 0px;
}
.ulatwienie .content-iner {
  padding: 15px 20px 10px 20px;
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 0.2);
}
.ulatwienie .content-iner p {
  font-size: 13px;
  font-weight: 600;
  line-height: 13px;
  margin-bottom: 5px;
}
.ulatwienie .content-iner ul {
  list-style: none;
  padding-left: 0px;
  margin-bottom: 0px;
}
.ulatwienie .content-iner li {
  font-size: 11px;
  font-weight: 600;
  transition: all 0.3s ease-out;
}
.ulatwienie .content-iner li img {
  padding-right: 7px;
}
.ulatwienie .content-iner li:hover {
  color: #AC1E1E;
}
.ulatwienie .content-iner button {
  text-align: left;
  background: transparent;
  border: 0;
  color: #fff;
  font-size: 11px;
  font-weight: 500;
  line-height: 13px;
  width: 100%;
  padding: 0;
  margin-left: 5px;
  margin-bottom: 10px;
  transition: all 0.3s ease-out;
}
.ulatwienie .content-iner button.active {
  color: #FFD800;
  text-decoration: underline !important;
}
.ulatwienie .content-iner button:hover {
  color: #FFD800;
}
.ulatwienie .content-iner img {
  margin-right: 12px;
}
.ulatwienie .content-iner-bottom {
  margin-top: 5px;
}
.ulatwienie .content-iner-bottom p {
  margin-bottom: 10px;
}
.ulatwienie .content-iner-bottom button {
  text-align: left;
  background: transparent;
  border: 0;
  color: #fff;
  font-size: 11px;
  font-weight: 500;
  line-height: 13px;
  width: 100%;
  padding: 0;
  margin-left: -5px;
  margin-bottom: 10px;
  transition: all 0.3s ease-out;
}
.ulatwienie .content-iner-bottom button.active {
  color: #FFD800;
  text-decoration: underline !important;
}
.ulatwienie .content-iner-bottom button:hover {
  color: #FFD800;
}
.ulatwienie .content-iner-bottom img {
  margin-right: 12px;
}

.ulatwienie:hover {
  left: 0px;
}

/* -=== Ułatwienia END -=== */
/* -=== Stara strona www -=== */
.www-old {
  background-color: #1A671A;
  display: block;
  position: absolute;
  top: 247px;
  width: 70px;
  z-index: 100;
  padding: 10px 5px;
  text-align: center;
  border-radius: 0px 7px 7px 0px;
  transition: all 0.3s ease-out;
  border: solid 2px #1A671A;
}
.www-old p {
  color: #fff;
  font-size: 10px;
  margin-top: 5px;
  margin-bottom: 0;
  line-height: 13px;
}

.www-old:hover {
  background-color: #003344;
  border: solid 2px #fff;
}

@media (max-width: 768px) {
  .www-old {
    top: 100px;
    width: 70px;
    padding: 10px 5px;
  }
}
/* -=== Stara strona www END -=== *//*# sourceMappingURL=site-base.css.map */