@import 'site-base';
@import 'site-navbar';
@import 'search-section';
@import 'newscenter';
@import 'homepage';
@import 'marginesy';
@import 'footer';
@import 'aktualnosci';
@import 'kontakt';

/* -=== karuzela 2 kolumny ===- */
.karuzela-2 {
    @media (min-width: 768px) {
        .carousel-item {
          margin-right: 0;
          flex: 0 0 50%;
          display: block;
        }
        .carousel-inner {
          display: flex;
        }
    }
        @media (max-width: 767px) {
        .carousel-item {
            margin-right: 0;
            flex: 0 0 100%;
            display: block;
        }
        .carousel-inner {
          display: flex;
        }
    }   
}
/* -=== karuzela 4 kolumny ===- */
.karuzela-4 {
    @media (min-width: 768px) {
        .carousel-item {
          margin-right: 0;
          flex: 0 0 25%;
          display: block;
        }
        .carousel-inner {
          display: flex;
        }
    }
        @media (max-width: 767px) {
        .carousel-item {
            margin-right: 0;
            flex: 0 0 100%;
            display: block;
        }
        .carousel-inner {
          display: flex;
        }
    }   
}
/* -=== karuzela 6 kolumn ===- */
.karuzela-6 {
    @media (min-width: 992px) {
        .carousel-item {
            margin-right: 0;
            flex: 0 0 16.66666666666667%;
            display: block;
        }
        .carousel-inner {
            display: flex;
        }
    }
    @media (max-width: 991px) {
        .carousel-item {
            margin-right: 0;
            flex: 0 0 50%;
            display: block;
        }
        .carousel-inner {
            display: flex;
        }
    }
    @media (max-width: 767px) {
        .carousel-item {
            margin-right: 0;
            flex: 0 0 100%;
            display: block;
        }
        .carousel-inner {
            display: flex;
        }
    }   
}
/* -=== karuzela Sterowanie ===- */
@media (max-width: 576px) {
    .carousel-control-next-icon, .carousel-control-prev-icon  {
        background-color: $White;
        z-index: 10;
        position: absolute;
        background-size: auto;
        background-repeat: no-repeat; 
        background-position: center;
        padding: 17px;
        border-radius: 7px;
    }   
    .carousel-control-next-icon {
        left: -60px;
    }
    .carousel-control-prev-icon {
        right: -60px;
    }
}


/* Menu boczne */
.gz-nawigacja-boczna {
    margin-top: 5px;
}
.gz-nawigacja-boczna a.button {
    display: inline-block;
    background-color: $Text-Ciemny-1;
    width: 100%;
    color: $White;
    font-size: 16px;
    font-weight: 400;
    height: 50px;
    text-align: center;
    position: relative;
    transition: 0.2s;
    transition-timing-function: ease-in;
    text-align: left;
    padding-left: 30px;
    padding-top: 13px;
    border-radius:  8px;
}
.gz-nawigacja-boczna button:hover, .gz-nawigacja-boczna a.button:hover {
    background-color: $Akcent-1;
}
.gz-nawigacja-boczna-submenu {
    background-color: $Bg-Szary-1;
    margin-top: -10px;
    margin-bottom: 10px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 1px solid $Ramka-Szara-1;
}
.gz-nawigacja-boczna-submenu li a {
    color: $Text-Ciemny-1;
    font-size: 15px;
    font-weight: 400;
    padding: 6px 30px;
    transition: 0.2s;
    transition-timing-function: ease-in;
    line-height: 18px;
    cursor: pointer;
    display: inline-block;
}
.gz-nawigacja-boczna-submenu a:hover {
    font-weight: 600;
}
.gz-nawigacja-boczna-submenu li:first-child a {
    padding-top: 25px;
}
.gz-nawigacja-boczna-submenu li:last-child a {
    padding-bottom: 15px;
}
/* Menu boczne END*/
.modal-body {
    justify-content: center;
    align-items: center;
    padding: 0;
}
#videoPlayerIframe, #videoPlayer {
    width: 100%;
    height: 80vh; /* 80% wysokości ekranu */
}