@import 'site-base';
@import 'site-navbar';
@import 'search-section';
@import 'newscenter';
@import 'homepage';
@import 'marginesy';
@import 'footer';
@import 'aktualnosci';
@import 'kontakt';

/* -=== karuzela 2 kolumny ===- */
.karuzela-2 {
    @media (min-width: 768px) {
        .carousel-item {
          margin-right: 0;
          flex: 0 0 50%;
          display: block;
        }
        .carousel-inner {
          display: flex;
        }
    }
        @media (max-width: 767px) {
        .carousel-item {
            margin-right: 0;
            flex: 0 0 100%;
            display: block;
        }
        .carousel-inner {
          display: flex;
        }
    }   
}
/* -=== karuzela 4 kolumny ===- */
.karuzela-4 {
    @media (min-width: 768px) {
        .carousel-item {
          margin-right: 0;
          flex: 0 0 25%;
          display: block;
        }
        .carousel-inner {
          display: flex;
        }
    }
        @media (max-width: 767px) {
        .carousel-item {
            margin-right: 0;
            flex: 0 0 100%;
            display: block;
        }
        .carousel-inner {
          display: flex;
        }
    }   
}
/* -=== karuzela 6 kolumn ===- */
.karuzela-6 {
    @media (min-width: 992px) {
        .carousel-item {
            margin-right: 0;
            flex: 0 0 16.66666666666667%;
            display: block;
        }
        .carousel-inner {
            display: flex;
        }
    }
    @media (max-width: 991px) {
        .carousel-item {
            margin-right: 0;
            flex: 0 0 50%;
            display: block;
        }
        .carousel-inner {
            display: flex;
        }
    }
    @media (max-width: 767px) {
        .carousel-item {
            margin-right: 0;
            flex: 0 0 100%;
            display: block;
        }
        .carousel-inner {
            display: flex;
        }
    }   
}
/* -=== karuzela Sterowanie ===- */
@media (max-width: 576px) {
    .carousel-control-next-icon, .carousel-control-prev-icon  {
        background-color: $White;
        z-index: 10;
        position: absolute;
        background-size: auto;
        background-repeat: no-repeat; 
        background-position: center;
        padding: 17px;
        border-radius: 7px;
    }   
    .carousel-control-next-icon {
        left: -60px;
    }
    .carousel-control-prev-icon {
        right: -60px;
    }
}

