@charset "UTF-8";
body, html {
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  color: #003344;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
}

/* Link w tekscie */
.gz-text-link, .gz-opisowa .gz-content a:not(.not-text-link) {
  color: #1A671A;
  -webkit-text-decoration: underline 2px dotted #1A671A !important;
          text-decoration: underline 2px dotted #1A671A !important;
  font-weight: 500;
}

.gz-text-link::after, .gz-opisowa .gz-content a:not(.not-text-link)::after {
  content: " »";
}

.gz-text-link:hover, .gz-opisowa .gz-content a:hover {
  color: #105A9E;
  -webkit-text-decoration: underline 2px solid #105A9E !important;
          text-decoration: underline 2px solid #105A9E !important;
  font-weight: 500;
}

.gz-opisowa .gz-content .btn {
  background-color: #003344;
  color: #fff;
  width: 100%;
  padding: 7px 10px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 600;
  transition: 0.2s;
  transition-timing-function: ease-in;
}

@media (max-width: 991px) {
  .gz-opisowa .gz-content .btn {
    text-align: center;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 20px;
  }
  .gz-top {
    text-align: center;
  }
}
.gz-opisowa .gz-content .btn:hover {
  background-color: #1A671A;
  color: #fff;
}

/* Zmiana treści RWD */
#gz-span-text-change::before {
  content: attr(data-md-text);
}

@media (max-width: 1199px) {
  #gz-span-text-change::before {
    content: attr(data-md-text);
  }
}
@media (max-width: 767px) {
  #gz-span-text-change::before {
    content: attr(data-xs-text);
  }
}
/* Zmiana treści RWD END */
.gz-section {
  padding-bottom: 20px;
}

.gz-page-title h1 {
  color: #003344;
  font-size: 45px;
  font-weight: 600;
  padding-bottom: 0;
}
.gz-page-title h5 {
  color: #525469;
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 15px;
}
.gz-page-title .gz-breadcrumb {
  padding-bottom: 15px;
}

/* Marginesy */
.gz-margin-karuzela {
  padding-right: 23px !important;
  padding-left: 23px !important;
}

/* Przyciski */
.btn-primary {
  background-color: #003344;
  border-radius: 8px;
  border: 0px;
  font-size: 16px;
  font-weight: 600;
  padding: 14px 37px;
  transition: 0.2s;
  transition-timing-function: ease-out;
}

.btn-primary:hover {
  background-color: #FFD800;
  color: #003344;
}

.btn-primary:active {
  background-color: #FFD800 !important;
  color: #003344 !important;
}

.btn-outline-primary {
  border: 2px solid #003344;
  color: #003344;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 25px;
}

.btn-outline-primary:hover {
  background-color: #003344;
  border: 2px solid #003344;
}

.btn-outline-primary:active {
  background-color: #003344 !important;
  border: 2px solid #003344 !important;
}

/* Okruszki */
.gz-breadcrumb {
  color: #003344;
  font-size: 14px;
  font-weight: 500;
  padding-top: 25px;
  padding-bottom: 30px;
}
.gz-breadcrumb li a {
  color: #003344;
}

.gz-breadcrumb li {
  color: #003344;
}

.gz-breadcrumb li::after {
  content: "»";
  padding-left: 5px;
  padding-right: 5px;
}

.gz-breadcrumb li:last-child::after {
  content: "";
}

.gz-breadcrumb li:last-child {
  color: #1A671A;
}

/* Okruszki End*/
@media (max-width: 991px) {
  .gz-nawigacja-boczna {
    display: none;
  }
}
@media (max-width: 991px) {
  .gz-section h1, h2, h3, h4, h5, p {
    text-align: center;
  }
}
.gz-opisowa h1 {
  font-size: 45px;
  font-weight: 600;
  padding-bottom: 15px;
}
.gz-opisowa h2 {
  font-size: 35px;
  font-weight: 600;
  padding-bottom: 15px;
}
.gz-opisowa h3 {
  font-size: 28px;
  font-weight: 600;
  padding-bottom: 15px;
}
.gz-opisowa h4 {
  font-size: 22px;
  font-weight: 500;
  padding-bottom: 15px;
}
.gz-opisowa h5 {
  font-size: 17px;
  font-weight: 500;
  padding-bottom: 15px;
}
.gz-opisowa p {
  font-size: 17px;
  font-weight: 400;
  line-height: 28px;
}
.gz-opisowa figure {
  margin-top: 20px;
  margin-bottom: 20px;
}
.gz-opisowa figcaption {
  color: #525469;
  font-size: 12px;
  font-weight: 500;
  padding: 5px 10px;
}
.gz-opisowa .gz-content ul {
  padding-left: 20px;
  margin-bottom: 30px;
}
.gz-opisowa li::marker {
  color: #1A671A;
  font-size: 20px;
}

/* Tabelka */
table {
  width: 100%;
  background-color: #fff;
  border: 1px solid #003344;
  margin-bottom: 40px;
}

table th {
  padding: 12px 10px;
  color: #fff;
  background-color: #003344;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
}

table td {
  padding: 12px 10px;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
}

tr:nth-child(even) {
  background-color: #F9F9F9;
}

/* Tabelka */
.gz-download a {
  color: #003344;
  font-size: 14px;
  font-weight: 500;
  text-decoration: underline !important;
  padding-left: 40px;
}

.gz-download a:hover {
  color: #1A671A;
}

.gz-download li {
  margin-bottom: 20px;
}

.gz-pdf::before {
  content: "";
  display: block;
  position: absolute;
  margin-top: -3px;
  width: 26px;
  height: 30px;
  margin-right: 10px;
  background-image: url("../images/ico/ico-12.svg");
}

.gz-xls::before {
  content: "";
  display: block;
  position: absolute;
  margin-top: -3px;
  width: 26px;
  height: 30px;
  margin-right: 10px;
  background-image: url("../images/ico/ico-13.svg");
}

.gz-ppt::before {
  content: "";
  display: block;
  position: absolute;
  margin-top: -3px;
  width: 26px;
  height: 30px;
  margin-right: 10px;
  background-image: url("../images/ico/ico-14.svg");
}

.gz-doc::before {
  content: "";
  display: block;
  position: absolute;
  margin-top: -3px;
  width: 26px;
  height: 30px;
  margin-right: 10px;
  background-image: url("../images/ico/ico-15.svg");
}

/* Strszalki karuzeli */
.carousel-control-prev {
  left: -50px;
  width: 40px;
}

.carousel-control-prev-icon {
  background-image: url("../images/ico/ico-04.svg");
  filter: none !important;
}

.carousel-control-next {
  right: -50px;
  width: 40px;
}

.carousel-control-next-icon {
  background-image: url("../images/ico/ico-05.svg");
  filter: none !important;
  background-blend-mode: hard-light;
}

.gz-section a {
  text-decoration: none;
}
.gz-section .gz-title h5 {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #525469;
}
.gz-section .gz-bg-1 {
  background: #F9F9F9;
}

/* -=== Paginacja ===- */
.gz-pagination {
  margin-top: 15px;
}
.gz-pagination a {
  color: #003344;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 47px;
}
.gz-pagination li {
  margin: 5px;
}
.gz-pagination li a {
  border: 0;
  border-radius: 0 !important;
}
.gz-pagination .gz-item a {
  background-color: #FBFBFB;
  border: 1px solid #F1F1F4;
  min-width: 47px;
  padding: 5px 10px;
}
.gz-pagination .gz-item a:hover {
  background-color: #FFD800;
  border: 1px solid #FFD800;
  color: #003344;
}
.gz-pagination .active a {
  background-color: #003344;
  border: 1px solid #003344;
  color: #fff;
  min-width: 47px;
  padding: 5px 10px;
}
.gz-pagination .nav-arrow a {
  background-color: #fff;
}
.gz-pagination .nav-arrow a:hover {
  color: #003344;
  text-decoration: underline !important;
}
.gz-pagination .disabled a {
  opacity: 0.5;
}

/* -=== Paginacja END ===- */
/* -=== Sorter ===- */
.gz-sorter {
  margin-bottom: 25px;
}
.gz-sorter .btn {
  padding: 8px 20px;
  font-size: 14px;
  font-weight: 600;
  border: 1px solid #003344;
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 10px;
}
.gz-sorter .btn-outline-primary:active {
  border: 1px solid #003344 !important;
}
.gz-sorter .btn-primary:hover {
  border: 1px solid #FFD800;
}

/* -=== Ułatwienia ===- */
.ulatwienie {
  z-index: 100;
  display: flex;
  position: absolute;
  right: -190px;
  top: 350px;
  color: #fff;
  transition: all 0.5s ease-out;
}
.ulatwienie .button-main {
  background-color: #003344;
  width: 70px;
  height: 95px;
  padding: 5px;
  text-align: center;
  border-radius: 7px 0px 0px 7px;
}
.ulatwienie .button-main p {
  font-size: 11px;
  font-weight: 600;
  line-height: 13px;
  padding-top: 7px;
}
.ulatwienie .ico {
  background-color: #fff;
  height: 50px;
  border-radius: 5px;
}
.ulatwienie .ico img {
  margin-top: 12px;
}
.ulatwienie .content {
  width: 190px;
  background-color: #003344;
  padding: 5px;
  border-radius: 0px 0px 0px 5px;
  margin-left: 0px;
}
.ulatwienie .content-iner {
  padding: 15px 20px 10px 20px;
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 0.2);
}
.ulatwienie .content-iner p {
  font-size: 13px;
  font-weight: 600;
  line-height: 13px;
  margin-bottom: 5px;
}
.ulatwienie .content-iner ul {
  list-style: none;
  padding-left: 0px;
  margin-bottom: 0px;
}
.ulatwienie .content-iner li {
  font-size: 11px;
  font-weight: 600;
  transition: all 0.3s ease-out;
}
.ulatwienie .content-iner li img {
  padding-right: 7px;
}
.ulatwienie .content-iner li:hover {
  color: #AC1E1E;
}
.ulatwienie .content-iner button {
  text-align: left;
  background: transparent;
  border: 0;
  color: #fff;
  font-size: 11px;
  font-weight: 500;
  line-height: 13px;
  width: 100%;
  padding: 0;
  margin-left: 5px;
  margin-bottom: 10px;
  transition: all 0.3s ease-out;
}
.ulatwienie .content-iner button.active {
  color: #FFD800;
  text-decoration: underline !important;
}
.ulatwienie .content-iner button:hover {
  color: #FFD800;
}
.ulatwienie .content-iner img {
  margin-right: 12px;
}
.ulatwienie .content-iner-bottom {
  margin-top: 5px;
}
.ulatwienie .content-iner-bottom p {
  margin-bottom: 10px;
}
.ulatwienie .content-iner-bottom button {
  text-align: left;
  background: transparent;
  border: 0;
  color: #fff;
  font-size: 11px;
  font-weight: 500;
  line-height: 13px;
  width: 100%;
  padding: 0;
  margin-left: -5px;
  margin-bottom: 10px;
  transition: all 0.3s ease-out;
}
.ulatwienie .content-iner-bottom button.active {
  color: #FFD800;
  text-decoration: underline !important;
}
.ulatwienie .content-iner-bottom button:hover {
  color: #FFD800;
}
.ulatwienie .content-iner-bottom img {
  margin-right: 12px;
}

.ulatwienie:hover {
  right: 0px;
}

/* -=== Ułatwienia END -=== */
.gz-header img {
  border-radius: 8px;
}
.gz-header .herb {
  top: 18px;
  position: absolute;
  z-index: 100;
}
.gz-header .herb img {
  height: 105px;
  border-radius: 0px;
}
@media (max-width: 1199px) {
  .gz-header .herb img {
    height: 60px;
    padding-left: 20px;
  }
}
.gz-header .gz-navbar-title {
  padding-left: 135px;
}
.gz-header h2 {
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: -10px;
}
.gz-header span {
  font-size: 14px;
  font-weight: 500;
}
.gz-header .gz-navbar-top {
  height: 90px;
}
.gz-header .gz-navbar-bottom {
  height: 90px;
  background-color: #003344;
}
.gz-header .gz-epuap-cta {
  padding-right: 40px;
}
@media (max-width: 1199px) {
  .gz-header .gz-navbar-title {
    padding-left: 100px;
  }
  .gz-header h2 {
    font-size: 25px;
  }
  .gz-header span {
    font-size: 12px;
    font-weight: 500;
  }
}
@media (max-width: 991px) {
  .gz-header h2 {
    text-align: left;
  }
  .gz-header .gz-epuap-cta {
    padding-right: 10px;
  }
}
@media (max-width: 767px) {
  .gz-header .gz-navbar-title {
    padding-left: 100px;
  }
  .gz-header h2 {
    font-size: 25px;
  }
  .gz-header span {
    line-height: 1px;
  }
  .gz-header .gz-epuap-cta {
    padding-right: 0px;
  }
  .gz-header .gz-epuap-cta img {
    transform: scale(0.8);
  }
  .gz-header .gz-bip-cta img {
    transform: scale(0.8);
  }
}
@media (max-width: 575px) {
  .gz-header .gz-logo-img {
    flex-direction: row !important;
  }
  .gz-header .gz-epuap-cta {
    width: 90px;
    height: 35px;
    padding: 0;
  }
  .gz-header .gz-bip-cta {
    margin-right: 5px;
  }
  .gz-header .gz-epuap-cta img {
    transform: scale(0.6);
    margin-left: -30px;
    margin-top: -7px;
  }
  .gz-header .gz-bip-cta img {
    transform: scale(0.6);
  }
  .gz-header span {
    font-size: 11px;
    font-weight: 500;
  }
}

.gz-navbar {
  background-color: #003344;
  --bs-navbar-padding-x: 1;
  /* Submenu */
  /* Przycisk kontakt */
  /* Hover dropdown */
  /* Styl dla navbar i efekt hover */
}
.gz-navbar .gz-ul-navbar {
  padding-left: 115px;
}
.gz-navbar .nav-link {
  padding-top: 16px;
  padding-bottom: 15px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.gz-navbar .nav-item {
  margin-right: 15px;
}
@media (max-width: 1399px) {
  .gz-navbar .nav-link {
    font-size: 14px;
  }
  .gz-navbar .gz-nav-kontakt-cta {
    font-size: 14px !important;
  }
}
@media (max-width: 1199px) {
  .gz-navbar {
    background-color: #003344 !important;
  }
  .gz-navbar .gz-ul-navbar {
    padding-left: 10px;
  }
  .gz-navbar .nav-link {
    font-size: 15px;
  }
  .gz-navbar .nav-item {
    margin-right: 10px;
  }
}
.gz-navbar .nav-item a {
  color: #fff;
}
.gz-navbar .dropdown-menu {
  padding-top: 12px;
  padding-bottom: 12px;
  box-shadow: 0px 15px 33px 0px rgba(0, 0, 0, 0.15), 0px 59px 59px 0px rgba(0, 0, 0, 0.13), 0px 133px 80px 0px rgba(0, 0, 0, 0.08), 0px 237px 95px 0px rgba(0, 0, 0, 0.02), 0px 370px 104px 0px rgba(0, 0, 0, 0);
}
.gz-navbar .dropdown-menu a {
  padding-left: 30px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-right: 30px;
  color: #003344;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.gz-navbar .dropdown-item.active {
  background-color: whitesmoke;
}
.gz-navbar .dropdown-item:hover {
  background-color: #1A671A;
  color: #fff !important;
}
.gz-navbar .gz-nav-kontakt-cta {
  background-color: #094B61;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 17px;
  height: 56px;
  border: 0;
  border-radius: 0;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  transition: 0.3s;
}
.gz-navbar .gz-nav-kontakt-cta:hover {
  background-color: #e2e7e9;
  color: #003344;
}
.gz-navbar .dropdown:hover .dropdown-menu {
  display: block;
}
.gz-navbar .nav-item {
  position: relative;
}
.gz-navbar .nav-item::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 0px;
  border-radius: 5px 5px 0px 0px;
  background-color: #1A671A;
  transition: height 0.3s, opacity 0.3s;
  transition-timing-function: ease-in;
  opacity: 0;
}
.gz-navbar .nav-item:hover::after, .gz-navbar .nav-item.active::after {
  height: 5px;
  opacity: 1;
}
.gz-navbar .nav-link {
  display: flex;
  align-items: center;
  height: 100%;
}
.gz-navbar .nav-item a::after {
  display: none;
}
.gz-navbar .navbar-toggler {
  margin: 10px;
  height: 40px;
  width: 40px;
  padding: 0;
  border: 2px solid #fff;
}
.gz-navbar .navbar-toggler span {
  transform: scale(0.8);
  color: #fff;
  opacity: 1;
}
@media (max-width: 1199px) {
  .gz-navbar .gz-nav-kontakt-cta {
    font-size: 15px;
  }
}
@media (max-width: 991px) {
  .gz-navbar .active {
    background-color: #1A671A;
    border-radius: 8px;
  }
  .gz-navbar .nav-item::after {
    display: none;
  }
  .gz-navbar li a {
    padding: 10px 30px;
  }
  .gz-navbar .collapse {
    padding-bottom: 20px;
  }
  .gz-navbar .gz-nav-kontakt-cta {
    padding: 15px calc(100% - 95px) 12px 40px;
    height: 56px;
    border-radius: 10px;
    margin-top: 10px;
    display: block;
  }
}

.gz-section-search {
  height: 170px;
  background-image: url("../images/jpg/img-jpg-01.jpg");
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  z-index: 100;
}
.gz-section-search .input-group {
  border-radius: 11px;
  border: 4px solid rgba(255, 255, 255, 0.2);
}
.gz-section-search input {
  height: 55px;
  font-size: 16px;
  background-image: url("../images/ico/ico-01.svg");
  background-position: left 25px center;
  background-size: 23px 23px;
  background-repeat: no-repeat;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-left: 70px;
}
.gz-section-search input:focus, .gz-section-search select:focus {
  box-shadow: none;
  border-color: #003344;
}
.gz-section-search input::-moz-placeholder {
  color: #003344;
}
.gz-section-search input::placeholder {
  color: #003344;
}
.gz-section-search select {
  max-width: 250px;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #525469;
  padding-left: 20px;
}
.gz-section-search .form-select {
  background-image: url("../images/ico/ico-02.svg");
  background-position: right 25px center;
  background-size: 10px 10px;
}
.gz-section-search .gz-btn-search, .gz-section-search .gz-btn-search:focus {
  background-color: #FFD800;
  min-width: 160px;
  font-size: 16px;
  font-weight: 600;
  transition: 0.3s;
  transition-timing-function: ease-in;
}
.gz-section-search .gz-btn-search:hover {
  background-color: #1A671A;
  color: #fff;
}
.gz-section-search .gz-search-ico-1 {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 20px;
}
.gz-section-search .gz-cta-search-more {
  width: 140px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  background-color: #1A671A;
  padding: 6px 10px;
  border-radius: 20px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -20px;
  font-size: 13px;
  font-weight: 500;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.05), 0px 5px 5px 0px rgba(0, 0, 0, 0.04), 0px 11px 7px 0px rgba(0, 0, 0, 0.03), 0px 20px 8px 0px rgba(0, 0, 0, 0.01), 0px 32px 9px 0px rgba(0, 0, 0, 0);
  z-index: 10;
}
@media (max-width: 991px) {
  .gz-section-search .gz-btn-search, .gz-section-search .gz-btn-search:focus {
    padding: 10px 0px;
    min-width: 130px;
    display: block;
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
    border-top-left-radius: 6px !important;
    border-bottom-left-radius: 6px !important;
  }
  .gz-section-search input {
    height: 55px;
    font-size: 16px;
    background-image: none;
    padding-left: 20px;
    font-size: 14px;
  }
  .gz-section-search .gz-form-md-right {
    border-top-right-radius: 6px !important;
    border-bottom-right-radius: 6px !important;
  }
}
@media (max-width: 575px) {
  .gz-section-search .form-control {
    width: 100% !important;
    border-top-right-radius: 6px !important;
    border-bottom-left-radius: 0px !important;
  }
  .gz-section-search select {
    max-width: none;
    margin-left: 0px !important;
    width: 100% !important;
    padding: 12px 20px;
  }
  .gz-section-search .gz-form-md-right {
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 6px !important;
    border-bottom-left-radius: 6px !important;
  }
}

@media (max-width: 991px) {
  .gz-section-search {
    padding-top: 20px;
    padding-bottom: 120px;
    height: -moz-max-content;
    height: max-content;
  }
}
.gz-newscenter {
  margin-top: 20px;
}
.gz-newscenter .carousel-inner {
  padding-top: 10px;
}
.gz-newscenter .carousel-item .row {
  margin-left: 0 !important;
}
.gz-newscenter .badge {
  position: absolute;
  top: -10px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 6;
  padding: 9px 20px;
}
.gz-newscenter .bg-danger {
  background-color: #AC1E1E !important;
}
.gz-newscenter .blog-post-meta {
  font-size: 12px;
  font-weight: 500;
  color: #003344;
  padding-top: 5px;
}
.gz-newscenter #czytaj-wiecej {
  padding: 0px;
}

.gz-newscenter-left {
  padding: 45px 40px 50px 40px;
  border-radius: 8px 0px 0px 8px;
  height: 400px;
  background-color: #F9F9F9;
}
.gz-newscenter-left h3 {
  font-size: 26px;
  font-weight: 600;
  color: #003344;
}
.gz-newscenter-left p {
  font-size: 17px;
  font-weight: 400;
  color: #525469;
  padding-top: 4px;
}
.gz-newscenter-left .btn-primary {
  display: block;
  position: absolute;
  bottom: 40px;
}
@media (max-width: 991px) {
  .gz-newscenter-left h3 {
    font-size: 22px;
    text-align: left;
  }
  .gz-newscenter-left p {
    font-size: 15px;
    font-weight: 400;
    color: #525469;
    padding-top: 4px;
    text-align: left;
  }
}
@media (max-width: 767px) {
  .gz-newscenter-left .btn-primary {
    bottom: 35px;
  }
  .gz-newscenter-left p {
    margin-bottom: 5px;
  }
}

@media (max-width: 1399px) {
  .gz-newscenter-left {
    height: 450px;
  }
}
@media (max-width: 767px) {
  .gz-newscenter-left {
    height: -moz-max-content;
    height: max-content;
    border-radius: 0px 0px 8px 8px;
    padding: 35px 30px 100px 30px;
    min-height: 320px;
  }
}
@media (max-width: 575px) {
  .gz-newscenter-left {
    min-height: 340px;
  }
}
.gz-newscenter-right {
  padding-left: 0 !important;
}
.gz-newscenter-right img {
  height: 100%;
  width: 100%;
  max-height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0px 8px 8px 0px;
}
@media (max-width: 1399px) {
  .gz-newscenter-right img {
    max-height: 450px;
  }
}
@media (max-width: 767px) {
  .gz-newscenter-right img {
    max-height: 300px;
    border-radius: 8px 8px 0px 0px;
  }
}

.gz-newscenter-sorter {
  margin-top: 18px;
}
.gz-newscenter-sorter .btn-sm {
  font-size: 12px;
  font-weight: 600;
  color: #003344;
  border: 1px solid #525469;
  border-radius: 6px;
  padding: 5px 10px;
  margin-right: 5px;
  margin-bottom: 10px;
}
.gz-newscenter-sorter .btn-sm:hover {
  background-color: #003344;
  color: #fff;
  border: 1px solid #003344;
}
.gz-newscenter-sorter .btn-sm:active {
  background-color: #003344 !important;
  color: #fff !important;
  border: 1px solid #003344 !important;
}
.gz-newscenter-sorter .gz-sorter-allert {
  background-color: #AC1E1E;
  border: 1px solid #AC1E1E;
  color: #fff;
}
.gz-newscenter-sorter .gz-sorter-przetarg {
  background-color: #1A671A;
  border: 1px solid #1A671A;
  color: #fff;
}

.sorter-more {
  margin-top: 12px;
  height: 50px;
}

.gz-wyszukiwanie-bloczek {
  border: 1px solid #E0E0E0;
  border-radius: 8px;
  position: relative;
  min-height: 246px;
  padding: 2px;
  margin-top: 30px;
}
.gz-wyszukiwanie-bloczek img {
  height: 100%;
  width: 100%;
  max-height: 240px;
  min-height: 240px;
  width: 240px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  padding: 0;
  float: left;
  display: block;
  margin-right: 10px;
}
.gz-wyszukiwanie-bloczek p {
  padding: 0 10px;
  display: block;
  height: 63px;
  overflow: clip;
}
.gz-wyszukiwanie-bloczek .info-tags {
  position: absolute;
  right: 10px;
  top: -18px;
}
.gz-wyszukiwanie-bloczek .info-tags .nowe {
  background-color: #FFD800;
  color: #003344;
}
.gz-wyszukiwanie-bloczek .info-tags .pilne {
  background-color: #AC1E1E;
  color: #fff;
}
.gz-wyszukiwanie-bloczek .info-tags .wydarzenia {
  background-color: #105A9E;
  color: #fff;
}
.gz-wyszukiwanie-bloczek .info-tags li {
  right: 0;
  margin-right: 4px;
  width: -moz-fit-content;
  width: fit-content;
  list-style-type: none;
  padding: 7px 12px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
}
.gz-wyszukiwanie-bloczek ul {
  margin-bottom: 0;
}
.gz-wyszukiwanie-bloczek .tags li {
  display: inline-block;
  margin-right: 4px;
  list-style-type: none;
  border: 1px solid #003344;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 11px;
  font-weight: 600;
  margin-bottom: 5px;
}
.gz-wyszukiwanie-bloczek time {
  color: #525469;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 500;
  padding-left: 25px;
  padding-right: 25px;
}
.gz-wyszukiwanie-bloczek h4 {
  color: #003344;
  font-size: 20px;
  font-weight: 500;
  line-height: 27px;
  padding-left: 25px;
  padding-right: 25px;
}
.gz-wyszukiwanie-bloczek .btn-outline-primary {
  position: absolute;
  right: 20px;
  bottom: 20px;
  padding: 8px 20px;
  justify-content: center;
  border: 1px solid #003344;
}
.gz-wyszukiwanie-bloczek .btn-outline-primary:focuss {
  border: 0px solid #003344;
}
.gz-wyszukiwanie-bloczek .content {
  padding-top: 15px;
  display: block;
}

.wyszukiwanie-pt h5 {
  color: #003344;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 0;
  padding-bottom: 10px;
}
.wyszukiwanie-pt span {
  color: #525469;
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 5px;
}
.wyszukiwanie-pt h2 {
  color: #003344;
  font-size: 40px;
  font-weight: 600;
}
.wyszukiwanie-pt h2::before {
  content: "„";
}
.wyszukiwanie-pt h2::after {
  content: "”";
}

.wyszukiwarka-collapse {
  padding-top: 50px;
}

.wyszukiwarka-collapse-cta {
  text-align: center;
}
.wyszukiwarka-collapse-cta button {
  border-radius: 0px 0px 8px 8px;
  padding: 5px 15px;
  background-color: #FFD800;
  color: #003344;
  font-size: 14px;
  font-weight: 500;
}
.wyszukiwarka-collapse-cta img {
  margin-left: 10px;
}

/* Icon box - 01 */
/* Counter dni do wydarzenia*/
/* Kalendarz wydarzenia */
/* Galeria */
/* Video Galeria */
/* Kurier */
/* -=== Icon box - 01 */
.gz-icobox-1 {
  padding: 20px 20px;
  margin-bottom: 10px;
  background-color: #003344;
  border-radius: 6px;
  text-align: center;
  overflow: hidden !important;
  transition: all 0.25s ease-out;
  min-height: 120px;
}

.gz-icobox-1 p {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  padding-top: 16px;
  margin-bottom: 0px;
}

.gz-icobox-1:hover {
  transform: scale(1.02);
  border-radius: 6px;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.08), 1px 14px 14px 0px rgba(0, 0, 0, 0.07), 2px 31px 19px 0px rgba(0, 0, 0, 0.04), 4px 55px 22px 0px rgba(0, 0, 0, 0.01), 6px 86px 24px 0px rgba(0, 0, 0, 0);
  background-color: #1A671A;
}

@media (max-width: 1199px) {
  .gz-icobox-1 p {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding-top: 16px;
    margin-bottom: 0px;
  }
}
@media (max-width: 991px) {
  .gz-icobox-1 {
    min-height: 140px;
  }
}
@media (max-width: 767px) {
  .gz-icobox-1 {
    min-height: 115px;
    padding: 20px 10px;
    margin-bottom: 5px;
  }
}
@media (max-width: 575px) {
  .gz-icobox-1 p {
    font-size: 13px;
  }
}
/* -=== Icon box - 01 END */
/* -=== Counter dni do wydarzenia */
.gz-counter {
  margin-top: 35px;
  margin-bottom: 35px;
  padding: 12px 40px 12px 35px;
  border-radius: 8px;
  background-color: #F9F9F9;
}
.gz-counter h3 {
  color: #003344;
  font-size: 26px;
  font-weight: 600;
  padding-top: 5px;
}
.gz-counter p {
  color: #525469;
  font-size: 15px;
  font-weight: 500;
  padding-top: 5px;
  margin-bottom: 3px;
}
.gz-counter .gz-counter-container {
  height: -moz-max-content;
  height: max-content;
}
.gz-counter .counter-box {
  text-align: center;
  width: 100px;
  height: 81px;
  border-radius: 8px;
  background-color: #1A671A;
  margin-right: 10px;
}
.gz-counter .counter-value {
  font-size: 40px;
  font-weight: 600;
  color: #fff;
}
.gz-counter .counter-label {
  height: 15px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  line-height: 0;
}
.gz-counter .gz-event-label {
  font-size: 14px;
  font-weight: 600;
  padding: 8px 25px;
  width: auto;
  height: 35px;
  position: absolute;
  display: block;
  top: 0px;
  left: 10px;
  opacity: 0;
  z-index: -1 !important;
  animation: slideIn 0.8s 0.5s forwards;
  border-radius: 8px 8px 0px 0px;
}
@keyframes slideIn {
  to {
    top: -35px;
    opacity: 1;
  }
}
.gz-counter .zolty {
  background-color: #FFD800;
}
.gz-counter .czerwony {
  background-color: #AC1E1E;
  color: #fff;
}
.gz-counter .niebieski {
  background-color: #105A9E;
  color: #fff;
}
.gz-counter .zielony {
  background-color: #1A671A;
}
@media (max-width: 1199px) {
  .gz-counter h3 {
    font-size: 22px;
  }
  .gz-counter .counter-value {
    font-size: 30px;
  }
  .gz-counter .counter-label {
    font-size: 12px;
    margin-top: 4px;
  }
  .gz-counter .btn-outline-primary {
    padding: 10px 15px;
  }
}
@media (max-width: 991px) {
  .gz-counter .gz-counter-container {
    height: -moz-max-content;
    height: max-content;
    padding: 10px 15px 20px 15px;
  }
  .gz-counter .counter-value {
    font-size: 40px;
  }
  .gz-counter .counter-label {
    font-size: 14px;
  }
  .gz-counter button {
    margin-top: 20px;
  }
  .gz-counter p {
    margin-bottom: 15px;
  }
}

@media (max-width: 575px) {
  .gz-counter {
    margin-top: 35px;
    margin-bottom: 35px;
    padding: 12px 10px 12px 10px;
  }
}
/* -=== Counter dni do wydarzenia END*/
/* -=== Kalendarz wydarzenia */
.gz-kalendarz {
  border-radius: 8px;
  overflow: hidden;
  background: #F9F9F9;
  margin-top: -23px;
  /* kalendarz stylowanie */
  /* Tabelka kalendarz*/
  /* Dzień aktywny */
  /* guzik pod kalendarzem */
}
.gz-kalendarz .gz-kalendarz-left {
  padding: 30px 20px;
  min-height: 400px;
}
.gz-kalendarz .gz-kalendarz-left .btn-nav-left {
  width: 25px;
  height: 25px;
  background-image: url("../images/ico/ico-04.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.gz-kalendarz .gz-kalendarz-left .btn-nav-right {
  width: 25px;
  height: 25px;
  background-image: url("../images/ico/ico-05.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.gz-kalendarz .gz-kalendarz-right {
  background-color: #003344;
  color: #fff;
  padding: 4px;
  border-radius: 8px;
}
.gz-kalendarz .gz-kalendarz-right h2 {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 10px;
}
.gz-kalendarz .gz-kalendarz-right img {
  height: 100%;
  width: 100%;
  max-height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
}
.gz-kalendarz .gz-kalendarz-right p {
  font-size: 14px;
  font-weight: 400;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 7px;
}
.gz-kalendarz .gz-kalendarz-right .gz-frame {
  border: 1px rgba(255, 255, 255, 0.2) solid;
  padding: 3px 20px;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 6px;
}
.gz-kalendarz .gz-kalendarz-right .gz-bold {
  font-weight: 600;
}
.gz-kalendarz .gz-kalendarz-right .gz-right-padding {
  padding: 10px 15px;
}
.gz-kalendarz .gz-miesiac {
  font-size: 26px;
  font-weight: 600;
  color: #003344;
  min-width: 250px;
  text-align: center;
}
.gz-kalendarz .btn-nav {
  opacity: 0.5;
  transition: 0.5s;
  transition-timing-function: ease-out;
  border: 0;
}
.gz-kalendarz .btn-nav:hover {
  opacity: 1;
}
.gz-kalendarz table {
  text-align: center;
  width: 100%;
  font-size: 15px;
  background-color: transparent;
  border: none;
  margin-bottom: 0px;
}
.gz-kalendarz th, .gz-kalendarz td, .gz-kalendarz tr {
  width: 14.2857142857%;
  padding-top: 15px;
  font-weight: 500;
}
.gz-kalendarz th {
  line-height: 3;
  color: #525469;
}
.gz-kalendarz tr {
  color: #003344;
}
.gz-kalendarz table th {
  padding: 10px 10px;
  background-color: transparent;
  text-align: center;
  font-size: 13px;
  font-weight: 600;
}
.gz-kalendarz table td {
  padding: 10px 5px;
  text-align: center;
  font-weight: 400;
}
.gz-kalendarz tr:nth-child(even) {
  background-color: transparent;
}
.gz-kalendarz .gz-activ-day {
  min-width: 40px;
  border: 0;
  background-color: #1A671A;
  color: #fff;
  border-radius: 6px;
  font-size: 15px;
  padding: 7px 12px;
  transition: 0.3s;
  transition-timing-function: ease-in;
}
.gz-kalendarz .gz-activ-day:hover {
  background-color: #FFD800;
  color: #003344;
}
.gz-kalendarz .gz-cta-text {
  color: #003344;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 25px 0px 25px;
}
.gz-kalendarz .gz-cta-text:hover {
  text-decoration: underline;
}

.gz-kalendarz-container {
  padding-right: 23px !important;
  padding-left: 23px !important;
  padding-bottom: 60px;
}

@media (max-width: 991px) {
  .gz-kalendarz-container {
    padding-right: 20px !important;
    padding-left: 20px !important;
  }
}
/* -=== Kalendarz wydarzenia END */
/* -=== Galeria */
.gz-gallery-section {
  padding-bottom: 60px;
}
.gz-gallery-section .gz-title .btn-primary {
  color: #fff;
  border: 1px solid #003344;
}
.gz-gallery-section .gallery-overlay {
  position: absolute;
  bottom: 0px;
  left: 12px;
  background: linear-gradient(transparent, #003344);
  height: 100%;
  width: calc(100% - 24px);
  border-radius: 8px;
}
@media (max-width: 991px) {
  .gz-gallery-section .gallery-overlay {
    bottom: 0px;
    left: 8px;
    height: 100%;
    width: calc(100% - 15px);
  }
}
.gz-gallery-section .gz-cta-more {
  margin-top: 16px;
}
.gz-gallery-section .gallery-item:hover .gallery-overlay {
  background-color: #1A671A;
  opacity: 0.7;
}
.gz-gallery-section .gallery-item:hover .gallery-content {
  transform: translateY(-50px);
}
.gz-gallery-section .gallery-item:hover .gallery-button {
  transform: translateY(-60px);
}
.gz-gallery-section .gallery-overlay, .gz-gallery-section .gallery-content {
  transition: all 0.7s ease-out;
}
.gz-gallery-section .gallery-button {
  transition: all 0.3s ease-out;
  transition-delay: 150ms;
}
.gz-gallery-section .filtered {
  display: none;
}
.gz-gallery-section .hidden-box {
  display: none;
}

.gallery-item {
  color: #fff;
  position: relative;
  overflow: hidden;
  height: -moz-fit-content;
  height: fit-content;
  cursor: pointer;
  margin-top: 24px;
}
.gallery-item .gallery-content {
  position: absolute;
  display: block;
  height: -moz-fit-content;
  height: fit-content;
  bottom: 10px;
  padding-right: 25px;
}
.gallery-item .gallery-title {
  bottom: 0px;
  font-size: 22px;
  font-weight: 600;
  padding-left: 25px;
  padding-top: 0px;
  line-height: 30px;
  color: #fff;
  text-align: left;
}
.gallery-item .gallery-tags {
  width: 100%;
}
.gallery-item .gallery-tags ul {
  padding-left: 25px;
  margin-bottom: 10px;
}
.gallery-item .gallery-tags li {
  display: inline;
  margin-right: 4px;
  list-style-type: none;
  border: 1px solid #fff;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 11px;
  font-weight: 600;
}
.gallery-item img {
  height: 100%;
  width: 100%;
  max-height: 250px;
  min-height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
  padding: 0;
}
.gallery-item .gallery-button {
  position: absolute;
  background-color: #fff;
  left: 35px;
  bottom: -40px;
  border: 0;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  color: #003344;
  padding: 8px 20px;
}
.gallery-item .gallery-button:hover {
  background-color: #FFD800;
}
@media (max-width: 991px) {
  .gallery-item .gallery-title {
    padding-left: 13px;
    font-size: 18px;
    text-align: left;
    line-height: 25px;
  }
  .gallery-item .gallery-tags li {
    display: inline-block;
    margin-right: 2px;
    padding: 4px 6px;
    font-size: 10px;
    font-weight: 500;
    margin-bottom: 2px;
  }
  .gallery-item .gallery-tags ul {
    padding-left: 10px;
    margin-bottom: 5px;
  }
  .gallery-item .gallery-button {
    left: 20px;
    bottom: -40px;
    font-size: 15px;
    font-weight: 600;
    padding: 8px 20px;
  }
}

@media (max-width: 991px) {
  .gallery-item {
    margin-top: 15px;
  }
}
/* -=== Galeria END*/
/* -=== Video Galeria */
.gz-video-gallery-section {
  padding-bottom: 30px;
}
.gz-video-gallery-section .carousel-inner {
  padding-top: 25px;
}
.gz-video-gallery-section .gz-title {
  padding-left: 22px;
}
.gz-video-gallery-section .carousel-item {
  padding: 0px 10px;
  transition: all 0.3s ease-out;
}
.gz-video-gallery-section .video-thumbnail {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border-radius: 10px;
}
.gz-video-gallery-section img {
  height: 100%;
  width: 100%;
  max-height: 350px;
  min-height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 0;
}
.gz-video-gallery-section .gallery-overlay::before {
  content: url(../images/ico/ico-10.svg);
  width: 99px;
  height: 74px;
  position: absolute;
  bottom: 0;
  left: 50%;
  top: 60%;
  transform: translate(-50%);
  z-index: 1;
  transition: all 0.5s ease-out;
  opacity: 0;
}
.gz-video-gallery-section .video-thumbnail:hover .gallery-overlay::before {
  left: 50%;
  top: 50%;
  opacity: 1;
  transform: translate(-50%, -50%);
}
.gz-video-gallery-section .gallery-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(transparent, #003344);
}
.gz-video-gallery-section .gz-modal-lg {
  width: 70% !important;
}
.gz-video-gallery-section .modal {
  --bs-modal-width: 100%!important;
}
.gz-video-gallery-section #videoPlayer {
  width: 100%;
}

.video-gallery-content {
  color: #fff;
  position: absolute;
  bottom: 0;
  padding: 15px 30px;
}
.video-gallery-content .video-gallery-content:hover {
  position: absolute;
  bottom: 0;
  z-index: 10;
}
.video-gallery-content h4 {
  font-size: 20px;
  font-weight: 600;
}
.video-gallery-content .time {
  font-size: 14px;
  font-weight: 500;
}

/* -=== Video Galeria END*/
/* -=== Kurier */
.gz-kurier .gz-kurier-item {
  overflow: hidden;
  margin-top: 30px;
  margin-right: 5px;
  margin-left: 5px;
  padding: 3px;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #E0E0E0;
  background-color: #F9F9F9;
}
@media (max-width: 991px) {
  .gz-kurier .gz-kurier-item {
    margin-top: 15px;
  }
}
.gz-kurier .gz-kurier-item:hover {
  cursor: pointer;
}
.gz-kurier img {
  height: 100%;
  width: 100%;
  max-height: 270px;
  min-height: 270px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
}
.gz-kurier h4 {
  padding-top: 14px;
  font-size: 15px;
  font-weight: 500;
}
.gz-kurier span {
  color: #525469;
  display: block;
  font-size: 12px;
  font-weight: 500;
  padding-bottom: 10px;
}

/* -=== Kurier END*/
/* -=== Banery-dolne ===- */
.gz-banery-01 {
  background-color: #F9F9F9;
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 60px;
}
.gz-banery-01 .carousel-item {
  padding-top: 5px;
  padding-bottom: 5px;
}
.gz-banery-01 .carousel-item .gz-banery-item {
  background-color: #003344;
  padding: 4px;
  border-radius: 8px;
  display: block;
  margin: 0 0.5em;
  transition: all 0.3s ease-out;
}
.gz-banery-01 .carousel-item img {
  border-radius: 6px;
  height: 100%;
  width: 100%;
  max-height: 135px;
  min-height: 135px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease-out;
}
.gz-banery-01 .carousel-item .content {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 45px;
  padding: 0px 10px;
}
.gz-banery-01 .carousel-item .content h4 {
  font-size: 14px;
  font-weight: 400;
  padding-top: 2px;
  line-height: 1.3;
  color: #fff;
  text-align: center;
}
.gz-banery-01 .carousel-item a.gz-banery-item {
  text-decoration: none;
}
.gz-banery-01 .carousel-item:hover .gz-banery-item {
  background-color: #1A671A;
  box-shadow: 0 0 0 5px rgba(26, 103, 26, 0.4);
}
.gz-banery-01 .carousel-item:hover img {
  transform: scale(1.03) translateY(-2px);
}
@media (max-width: 1199px) {
  .gz-banery-01 .gz-banery-item .content {
    height: 55px;
  }
}
@media (max-width: 991px) {
  .gz-banery-01 .gz-banery-item {
    margin-top: 15px;
  }
  .gz-banery-01 .gz-banery-item .content h4 {
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  .gz-banery-01 .carousel-item .content h4 {
    font-size: 14px;
  }
}

.hidden {
  display: none;
}

.gz-cta-more {
  padding: 4px 12px;
  margin-top: 10px;
  margin-bottom: 40px;
}

.gz-mt-60 {
  margin-top: 60px;
}

.gz-mt-40 {
  margin-top: 40px;
}

.gz-mt-30 {
  margin-top: 30px;
}

.gz-mt-20 {
  margin-top: 20px;
}

.gz-mt-10 {
  margin-top: 10px;
}

/* Nadpisywanie wartości odstępów dla wszystkich rozmiarów */
.row {
  --bs-gutter-x: 1.5rem; /* Poziome odstępy */
}

/* Nadpisywanie wartości odstępów dla konkretnych breakpointów */
@media (max-width: 576px) { /* Small devices (sm breakpoint) */
  .row {
    --bs-gutter-x: 10px;
  }
}
@media (max-width: 768px) { /* Medium devices (md breakpoint) */
  .row {
    --bs-gutter-x: 10px;
  }
}
@media (max-width: 992px) { /* Large devices (lg breakpoint) */
  .row {
    --bs-gutter-x: 15px;
  }
}
@media (min-width: 1200px) { /* Extra large devices (xl breakpoint) */
  .row {
    --bs-gutter-x: 1.5rem;
  }
}
@media (min-width: 1400px) { /* Extra extra large devices (xxl breakpoint) */
  .row {
    --bs-gutter-x: 1.5rem;
  }
}
.gz-footer {
  background-color: #003344 !important;
  color: #fff;
  padding-top: 40px;
  padding-bottom: 40px;
}
.gz-footer h2 {
  font-size: 30px;
  font-weight: 600;
  padding-top: 10px;
}
.gz-footer h3 {
  font-size: 16px;
  font-weight: 500;
}
.gz-footer h5 {
  margin-bottom: 10px;
}
.gz-footer h6 {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 600;
}
.gz-footer p {
  margin-bottom: 4px !important;
  color: #C9C9C9;
  font-size: 13px;
  font-weight: 400;
  padding-top: 5px;
}
.gz-footer a {
  color: #FFD800;
  font-size: 13px;
  font-weight: 400;
  text-decoration: none;
}
.gz-footer a::before {
  content: "e-mail: ";
  color: #C9C9C9;
  font-size: 13px;
  font-weight: 400;
}
.gz-footer a:hover {
  text-decoration: underline;
}
@media (max-width: 991px) {
  .gz-footer .gz-footer-c {
    padding-top: 30px;
  }
  .gz-footer .gz-footer-d {
    text-align: center;
  }
}
@media (max-width: 576px) {
  .gz-footer .gz-footer-b, .gz-footer .gz-footer-c, .gz-footer .gz-footer-d {
    padding-top: 30px;
  }
}

.gz-footer-copyright {
  background-color: #03242F;
  color: #fff;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 10px;
}

.gz-aktualnosci .gz-title .btn-primary {
  color: #fff;
  border: 1px solid #003344;
}
.gz-aktualnosci .row {
  margin-right: 0;
  margin-left: 0;
}
.gz-aktualnosci .aktualnosci-overlay {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: linear-gradient(transparent 40%, #003344 100%);
  height: 100%;
  width: 100%;
  border-radius: 8px;
  z-index: 0;
}
@media (max-width: 991px) {
  .gz-aktualnosci .aktualnosci-overlay {
    bottom: 0px;
    height: 100%;
  }
}
.gz-aktualnosci .aktualnosci-item:hover .aktualnosci-overlay {
  background-color: #1A671A;
  opacity: 0.7;
}
.gz-aktualnosci time {
  display: block;
  color: #525469;
  font-size: 12px;
  font-weight: 500;
  transition: all 0.3s ease-out;
  transition-delay: 0.1s;
}
.gz-aktualnosci h4 {
  display: block;
  padding-top: 5px;
  bottom: 15px;
  font-size: 17px;
  font-weight: 500;
  line-height: 20px;
  color: #003344;
  transition: all 0.4s ease-out;
  transition-delay: 0.12s;
}
.gz-aktualnosci .aktualnosci-item:hover .aktualnosci-button, .gz-aktualnosci .aktualnosci-item:hover .aktualnosci-tags {
  transform: translateY(-50px);
}
.gz-aktualnosci .aktualnosci-item:hover time {
  transform: translateY(-35px);
}
.gz-aktualnosci .aktualnosci-item:hover h4 {
  transform: translateY(-25px);
}
.gz-aktualnosci .gallery-btn, .gz-aktualnosci .aktualnosci-overlay, .gz-aktualnosci .aktualnosci-button, .gz-aktualnosci .aktualnosci-tags {
  transition: all 0.3s ease-out;
}
.gz-aktualnosci .filtered {
  display: none;
}

.aktualnosci-item {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 20px;
  /* kategorie */
  /* info tag */
}
.aktualnosci-item .aktualnosci-image-content {
  position: relative;
  overflow: hidden;
}
.aktualnosci-item .aktualnosci-content {
  padding: 15px 10px;
  overflow: hidden;
}
.aktualnosci-item .gallery-title {
  bottom: 15px;
  font-size: 17px;
  font-weight: 500;
  padding-top: 0px;
  line-height: 20px;
  color: #003344;
}
.aktualnosci-item .aktualnosci-tags {
  color: #fff;
  position: absolute;
  bottom: 5px;
  left: 10px;
}
.aktualnosci-item .aktualnosci-tags ul {
  padding-left: 0px;
  margin-bottom: 0px;
  text-align: left;
}
.aktualnosci-item .aktualnosci-tags li {
  display: inline-block;
  margin-right: 4px;
  list-style-type: none;
  border: 1px solid #fff;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 11px;
  font-weight: 600;
  margin-bottom: 5px;
}
.aktualnosci-item .aktualnosci-tags-info {
  top: 15px;
  left: 10px;
  position: absolute;
}
.aktualnosci-item .aktualnosci-tags-info ul {
  margin-bottom: 0px;
  padding-left: 0px;
}
.aktualnosci-item .aktualnosci-tags-info li {
  margin-right: 4px;
  display: inline;
  list-style-type: none;
  padding: 7px 12px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
}
.aktualnosci-item .pilne {
  color: #fff;
  background-color: #AC1E1E;
}
.aktualnosci-item .nowe {
  background-color: #FFD800;
}
.aktualnosci-item .wydarzenie {
  background-color: #105A9E;
  color: #fff;
}
.aktualnosci-item .inwestycje {
  background-color: #1A671A;
  color: #fff;
}
.aktualnosci-item .aktualnosci-tags-info, .aktualnosci-item .aktualnosci-tags, .aktualnosci-item .aktualnosci-button {
  z-index: 1;
}
.aktualnosci-item img {
  height: 100%;
  width: 100%;
  max-height: 290px;
  min-height: 290px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
  padding: 0;
}
.aktualnosci-item .aktualnosci-button {
  position: absolute;
  background-color: #fff;
  left: 35px;
  bottom: -40px;
  border: 0;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  color: #003344;
  padding: 8px 20px;
}
.aktualnosci-item .aktualnosci-button:hover {
  background-color: #FFD800;
}
@media (max-width: 991px) {
  .aktualnosci-item .gallery-title {
    padding-left: 13px;
    font-size: 18px;
  }
}
.aktualnosci-item .gallery-tags li {
  display: inline-block;
  margin-right: 2px;
  padding: 4px 6px;
  font-size: 10px;
  font-weight: 500;
  margin-bottom: 2px;
}
.aktualnosci-item .gallery-tags ul {
  padding-left: 10px;
  margin-bottom: 5px;
}
.aktualnosci-item .aktualnosci-button {
  left: 10px;
  bottom: -40px;
  font-size: 15px;
  font-weight: 600;
  padding: 8px 20px;
}

@media (max-width: 991px) {
  .aktualnosci-item {
    margin-bottom: 0px;
  }
}
/* -=== Aktualnosc Wpis===- */
.gz-aktualnosc-wpis {
  /* kategorie */
  /* info tag */
}
.gz-aktualnosc-wpis .breadcrumb {
  justify-content: center;
}
.gz-aktualnosc-wpis .gz-breadcrumb {
  padding-bottom: 0px !important;
}
.gz-aktualnosc-wpis time {
  color: #003344;
  font-size: 12px;
  font-weight: 500;
}
.gz-aktualnosc-wpis .btn {
  background-color: #003344;
  color: #fff;
  padding: 7px 10px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 600;
  transition: 0.2s;
  transition-timing-function: ease-in;
}
@media (max-width: 991px) {
  .gz-aktualnosc-wpis .btn {
    text-align: center;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 20px;
  }
  .gz-aktualnosc-wpis .gz-top {
    text-align: center;
  }
}
.gz-aktualnosc-wpis .btn:hover {
  background-color: #1A671A;
  color: #fff;
}
.gz-aktualnosc-wpis figure {
  position: relative;
}
.gz-aktualnosc-wpis .tag {
  position: absolute;
  width: 220px;
  right: -230px;
}
.gz-aktualnosc-wpis .aktualnosc-wpis-tags {
  color: #003344;
}
.gz-aktualnosc-wpis .aktualnosc-wpis-tags ul {
  padding-left: 0px;
  margin-bottom: 0px;
}
.gz-aktualnosc-wpis .aktualnosc-wpis-tags li {
  margin-right: 4px;
  list-style-type: none;
  border: 1px solid #003344;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 11px;
  font-weight: 600;
  margin-bottom: 5px;
  width: -moz-fit-content;
  width: fit-content;
}
.gz-aktualnosc-wpis .aktualnosc-wpis-tags-info ul {
  margin-bottom: 0px;
  padding-left: 0px;
}
.gz-aktualnosc-wpis .aktualnosc-wpis-tags-info li {
  margin-right: 4px;
  width: -moz-fit-content;
  width: fit-content;
  list-style-type: none;
  padding: 7px 12px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
}
.gz-aktualnosc-wpis .pilne {
  color: #fff;
  background-color: #AC1E1E;
}
.gz-aktualnosc-wpis .nowe {
  background-color: #FFD800;
}
.gz-aktualnosc-wpis .wydarzenie {
  background-color: #105A9E;
  color: #fff;
}
.gz-aktualnosc-wpis .inwestycje {
  background-color: #1A671A;
  color: #fff;
}
@media (max-width: 991px) {
  .gz-aktualnosc-wpis .tag {
    top: 10px;
    left: 10px;
    height: calc(100% - 50px);
    width: 100%;
  }
  .gz-aktualnosc-wpis .aktualnosc-wpis-tags ul {
    bottom: 0;
    left: 0;
    position: absolute;
  }
  .gz-aktualnosc-wpis .aktualnosc-wpis-tags li, .gz-aktualnosc-wpis .aktualnosc-wpis-tags-info li {
    display: inline-block;
  }
  .gz-aktualnosc-wpis .aktualnosc-wpis-tags li {
    background-color: #003344;
    color: #fff;
  }
}

.gz-aktualnosci-karuzela h3 {
  margin-left: 35px;
  margin-bottom: 15px;
}

/* -=== Kontakt ===- */
.gz-kontakt .show {
  background: rgba(0, 51, 68, 0.8);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.gz-kontakt h2 {
  font-size: 26px;
  padding-top: 20px;
  padding-bottom: 0px;
}
.gz-kontakt span {
  color: #525469;
  font-size: 14px;
  font-weight: 500;
}
.gz-kontakt .gz-breadcrumb {
  padding-bottom: 0;
}
.gz-kontakt form {
  margin-top: 20px;
}
.gz-kontakt form .form-label {
  font-size: 14px;
  font-weight: 500;
  padding-left: 5px;
}
.gz-kontakt form input, .gz-kontakt form select, .gz-kontakt form textarea {
  border: 1px solid #525469;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  padding: 13px 20px;
}
.gz-kontakt form .form-control:focus, .gz-kontakt form .form-select:focus {
  border: 1px solid #1A671A;
  box-shadow: 0 0 0 0.25rem rgba(36, 122, 36, 0.2);
}
.gz-kontakt form textarea {
  min-height: 240px;
}
.gz-kontakt form .form-check-input {
  width: 20px !important;
  padding: 0;
  height: 20px;
  size: 10px;
}
.gz-kontakt form .form-check-input:checked {
  background-color: #003344;
  border: 1px solid #003344;
}
.gz-kontakt form .form-check-label {
  color: #525469;
  font-size: 12px;
  font-weight: 400;
  padding-left: 10px;
}
.gz-kontakt form .form-check-input:focus {
  box-shadow: 0 0 0 0.25rem rgba(0, 51, 68, 0.2);
}
.gz-kontakt form .ok-feedback, .gz-kontakt form .send-ok {
  display: none;
}
.gz-kontakt form .input_ok .form-control, .gz-kontakt form .input_ok .form-select {
  border: 2px solid #1A671A;
}
.gz-kontakt form .input_ok .ok-feedback {
  display: block;
  background-color: #1A671A;
  color: #fff;
  margin-top: 0px;
  margin-left: 8px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 3px 15px 5px 15px;
  border-radius: 0px 0px 5px 5px;
  font-size: 12px;
  font-weight: 500;
}
.gz-kontakt form .input_ok .send-ok {
  display: block;
  background-color: #1A671A;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  padding: 15px 30px;
  width: 100%;
}
.gz-kontakt form .error .form-control, .gz-kontakt form .error .form-select {
  border: 2px solid #AC1E1E;
}
.gz-kontakt form .error .invalid-feedback {
  display: block;
  background-color: #AC1E1E;
  color: #fff;
  margin-top: 0px;
  margin-left: 8px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 3px 15px 5px 15px;
  border-radius: 0px 0px 5px 5px;
  font-size: 12px;
  font-weight: 500;
}
.gz-kontakt form .error .form-check .invalid-feedback {
  margin-top: 5px;
  margin-left: 8px;
  border-radius: 5px;
}

.bloczek-kontakt {
  border: 1px solid #E0E0E0;
  border-radius: 10px;
  text-align: center;
  margin: 0;
  padding: 0;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  padding: 20px 15px 25px 35px;
  transition: all 0.3s ease-out;
  margin-top: 20px;
}
.bloczek-kontakt h5 {
  font-size: 23px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  margin-bottom: -5px;
}
.bloczek-kontakt .stanowisko {
  font-size: 16px;
  font-weight: 400;
  color: #525469;
  margin: 0;
  padding: 0;
}
.bloczek-kontakt .phone {
  display: flex;
  text-align: left;
}
.bloczek-kontakt .phone span {
  color: #525469;
  font-size: 14px;
  font-weight: 400;
  display: inline;
  margin: 0;
  padding: 0;
}
.bloczek-kontakt .phone p {
  color: #003344;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  margin-top: -3px;
  padding: 0;
}
.bloczek-kontakt .mail {
  display: flex;
  text-align: left;
}
.bloczek-kontakt .mail span {
  color: #525469;
  font-size: 14px;
  font-weight: 400;
  display: inline;
  margin: 0;
  padding: 0;
}
.bloczek-kontakt .mail a {
  display: block;
  color: #003344;
  font-size: 15px;
  font-weight: 500;
  margin: 0;
  margin-top: -3px;
  padding: 0;
  transition: all 0.2s ease-out;
}
.bloczek-kontakt .mail a:hover {
  border: 0;
  text-decoration: underline;
  color: #1A671A;
}
.bloczek-kontakt .btn {
  min-width: 110px;
  margin: 0;
  padding: 11px 15px;
  line-height: 1;
  font-size: 14px;
  font-weight: 600;
  border: 2px solid #003344;
}
.bloczek-kontakt a:hover {
  border: 2px solid #FFD800;
}
@media (max-width: 1199px) {
  .bloczek-kontakt .btn {
    min-width: -moz-fit-content;
    min-width: fit-content;
    padding: 7px 12px;
  }
}
.bloczek-kontakt .gz-info {
  position: absolute;
  top: -17px;
  display: flex;
  overflow: hidden;
  transform: rotateX(90deg);
  transition: all 0.3s ease-out;
}
.bloczek-kontakt .pokoj {
  background-color: #1A671A;
  color: #fff;
  padding: 6px 15px 6px 15px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  min-width: -moz-fit-content;
  min-width: fit-content;
  z-index: 1;
}
.bloczek-kontakt .godziny {
  position: relative;
  display: block;
  width: 200px;
  height: -moz-fit-content;
  height: fit-content;
}
.bloczek-kontakt .godziny-content {
  position: absolute;
  left: calc(-100% - 20px);
  font-size: 14px;
  padding: 5px 15px 5px 45px;
  font-weight: 600;
  border: 1px solid #003344;
  border-radius: 5px;
  background-color: #fff;
  opacity: 0;
  transition: all 0.5s ease-out;
  transition-delay: 200ms;
}
.bloczek-kontakt .godziny-urzedowania {
  text-align: left;
  width: 100%;
  display: block;
  height: 0;
  overflow: hidden;
  transition: all 0.5s ease-out;
}
.bloczek-kontakt .godziny-urzedowania span {
  color: #525469;
  font-size: 14px;
  font-weight: 400;
  padding-top: 15px;
  padding-bottom: 5px;
  display: inline-block;
}
.bloczek-kontakt .godziny-urzedowania p {
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  margin-top: 5px;
}
.bloczek-kontakt .godziny-urzedowania ul {
  list-style: none;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

@media (max-width: 1199px) {
  .bloczek-kontakt {
    padding: 15px;
  }
}
.bloczek-kontakt:hover {
  border: 1px solid #72D872;
  border-radius: 6px;
  box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.05), 0px 20px 20px 0px rgba(0, 0, 0, 0.04), 0px 46px 28px 0px rgba(0, 0, 0, 0.03), 0px 82px 33px 0px rgba(0, 0, 0, 0.01), 0px 128px 36px 0px rgba(0, 0, 0, 0);
}
.bloczek-kontakt:hover .godziny-urzedowania {
  height: 160px;
}
.bloczek-kontakt:hover .godziny-content {
  left: -35px;
  opacity: 1;
}
.bloczek-kontakt:hover .gz-info {
  transform: rotateX(0deg);
}

.bloczek-kontakt-img {
  min-height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bloczek-kontakt-img h5 {
  font-size: 15px;
  font-weight: 600;
}
.bloczek-kontakt-img img {
  scale: 0.3;
}

.gz-info-section {
  padding-top: 80px;
  margin-bottom: 15px;
  padding-left: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.gz-info-section .gz-ingo-img {
  position: relative;
}
.gz-info-section h5 {
  color: #003344;
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 5px;
}
.gz-info-section p {
  color: #525469;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.gz-info-section img {
  position: absolute;
  left: -33px;
  top: 3px;
}

@media (max-width: 991px) {
  .gz-info-section {
    padding-top: 0px;
    flex-direction: row;
    padding-left: 10px;
    justify-content: space-between;
    padding-top: 80px;
  }
  .gz-info-section img {
    height: 30px;
    left: 50%;
    top: -40px;
    transform: translateX(-50%);
  }
}
@media (max-width: 767px) {
  .gz-info-section {
    flex-direction: column;
    padding-top: 40px;
  }
  .gz-info-section .gz-ingo-img {
    margin-top: 50px;
  }
}
.modal-content {
  padding: 25px;
}
.modal-content ::-moz-placeholder {
  font-size: 12px;
  color: #003344;
  font-weight: 600;
}
.modal-content select, .modal-content #file, .modal-content ::placeholder {
  font-size: 12px;
  color: #003344;
  font-weight: 600;
}
.modal-content textarea {
  min-height: 150px;
}
.modal-content .modal-header {
  border-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
}
.modal-content .modal-header button {
  position: absolute;
  right: 15px;
  top: 15px;
}
.modal-content .gz-modal-cta button {
  width: 45px;
  margin: 0 8px !important;
}
.modal-content .btn-secondary {
  background-color: #fff;
  color: #003344;
  border-radius: 8px;
}
.modal-content .btn-secondary:hover {
  background-color: #003344;
  color: #fff;
}
.modal-content .btn-primary:hover {
  border: 2px solid #FFD800;
}
.modal-content form {
  margin-top: 0;
}
.modal-content .modal-body {
  padding: 0;
}
.modal-content .modal-lg {
  --bs-modal-width: 950px;
  text-align: left;
}

/* -=== karuzela 2 kolumny ===- */
@media (min-width: 768px) {
  .karuzela-2 .carousel-item {
    margin-right: 0;
    flex: 0 0 50%;
    display: block;
  }
  .karuzela-2 .carousel-inner {
    display: flex;
  }
}
@media (max-width: 767px) {
  .karuzela-2 .carousel-item {
    margin-right: 0;
    flex: 0 0 100%;
    display: block;
  }
  .karuzela-2 .carousel-inner {
    display: flex;
  }
}

/* -=== karuzela 4 kolumny ===- */
@media (min-width: 768px) {
  .karuzela-4 .carousel-item {
    margin-right: 0;
    flex: 0 0 25%;
    display: block;
  }
  .karuzela-4 .carousel-inner {
    display: flex;
  }
}
@media (max-width: 767px) {
  .karuzela-4 .carousel-item {
    margin-right: 0;
    flex: 0 0 100%;
    display: block;
  }
  .karuzela-4 .carousel-inner {
    display: flex;
  }
}

/* -=== karuzela 6 kolumn ===- */
@media (min-width: 992px) {
  .karuzela-6 .carousel-item {
    margin-right: 0;
    flex: 0 0 16.6666666667%;
    display: block;
  }
  .karuzela-6 .carousel-inner {
    display: flex;
  }
}
@media (max-width: 991px) {
  .karuzela-6 .carousel-item {
    margin-right: 0;
    flex: 0 0 50%;
    display: block;
  }
  .karuzela-6 .carousel-inner {
    display: flex;
  }
}
@media (max-width: 767px) {
  .karuzela-6 .carousel-item {
    margin-right: 0;
    flex: 0 0 100%;
    display: block;
  }
  .karuzela-6 .carousel-inner {
    display: flex;
  }
}

/* -=== karuzela Sterowanie ===- */
@media (max-width: 576px) {
  .carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: #fff;
    z-index: 10;
    position: absolute;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    padding: 17px;
    border-radius: 7px;
  }
  .carousel-control-next-icon {
    left: -60px;
  }
  .carousel-control-prev-icon {
    right: -60px;
  }
}
/* Menu boczne */
.gz-nawigacja-boczna {
  margin-top: 5px;
}

.gz-nawigacja-boczna a.button {
  display: inline-block;
  background-color: #003344;
  width: 100%;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  height: 50px;
  text-align: center;
  position: relative;
  transition: 0.2s;
  transition-timing-function: ease-in;
  text-align: left;
  padding-left: 30px;
  padding-top: 13px;
  border-radius: 8px;
}

.gz-nawigacja-boczna button:hover, .gz-nawigacja-boczna a.button:hover {
  background-color: #1A671A;
}

.gz-nawigacja-boczna-submenu {
  background-color: #F9F9F9;
  margin-top: -10px;
  margin-bottom: 10px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 1px solid #E0E0E0;
}

.gz-nawigacja-boczna-submenu li a {
  color: #003344;
  font-size: 15px;
  font-weight: 400;
  padding: 6px 30px;
  transition: 0.2s;
  transition-timing-function: ease-in;
  line-height: 18px;
  cursor: pointer;
  display: inline-block;
}

.gz-nawigacja-boczna-submenu a:hover {
  font-weight: 600;
}

.gz-nawigacja-boczna-submenu li:first-child a {
  padding-top: 25px;
}

.gz-nawigacja-boczna-submenu li:last-child a {
  padding-bottom: 15px;
}

/* Menu boczne END*//*# sourceMappingURL=style.css.map */